<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="integrated_management_system.My.MySettings.integrated_management_systemConnectionString"
            connectionString="server=127.0.0.1;user id=root;database=integrated_management_system"
            providerName="MySql.Data.MySqlClient" />
        <add name="integrated_management_system.My.MySettings.integrated_management_systemConnectionString1"
            connectionString="server=localhost;user id=root;database=integrated_management_system"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>